<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <session-config>
        <session-timeout>30</session-timeout>  <!-- Session timeout in minutes -->
        <cookie-config>
            <http-only>true</http-only>        <!-- Enforces HttpOnly cookie -->
            <secure>true</secure>              <!-- Enforces HTTPS only -->
        </cookie-config>
    </session-config>
    <filter>
        <filter-name>CORSInterceptor</filter-name>
        <filter-class>site.anish_karthik.upi_net_banking.server.filter.CORSInterceptor</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CORSInterceptor</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>site.anish_karthik.upi_net_banking.server.filter.authorization.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AccountAuthorizationFilter</filter-name>
        <filter-class>site.anish_karthik.upi_net_banking.server.filter.authorization.accounts.AccountsAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccountAuthorizationFilter</filter-name>
        <url-pattern>/api/accounts/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UsersAuthorizationFilter</filter-name>
        <filter-class>site.anish_karthik.upi_net_banking.server.filter.authorization.users.UsersAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UsersAuthorizationFilter</filter-name>
        <url-pattern>/api/users/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TransfersAuthFilter</filter-name>
        <filter-class>site.anish_karthik.upi_net_banking.server.filter.authorization.transfers.TransfersAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TransfersAuthFilter</filter-name>
        <url-pattern>/api/transfers/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserValidationProfileFilter</filter-name>
        <filter-class>site.anish_karthik.upi_net_banking.server.filter.validator.UserProfileFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserValidationProfileFilter</filter-name>
        <url-pattern>/api/users/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>BankAccountFilter</filter-name>
        <filter-class>site.anish_karthik.upi_net_banking.server.filter.validator.BankAccountFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BankAccountFilter</filter-name>
        <url-pattern>/api/users/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UpiCardAccountFilter</filter-name>
        <filter-class>site.anish_karthik.upi_net_banking.server.filter.validator.UpiCardAccountFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UpiCardAccountFilter</filter-name>
        <url-pattern>/api/upi/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>site.anish_karthik.upi_net_banking.server.controller.auth.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>site.anish_karthik.upi_net_banking.server.controller.auth.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/auth/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>site.anish_karthik.upi_net_banking.server.controller.auth.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/auth/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CurrentUserServlet</servlet-name>
        <servlet-class>site.anish_karthik.upi_net_banking.server.controller.auth.CurrentUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrentUserServlet</servlet-name>
        <url-pattern>/auth/current-user</url-pattern>
    </servlet-mapping>

    <!-- API Endpoints -->

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>site.anish_karthik.upi_net_banking.server.controller.api.users.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/api/users/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccountsServlet</servlet-name>
        <servlet-class>site.anish_karthik.upi_net_banking.server.controller.api.accounts.AccountsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountsServlet</servlet-name>
        <url-pattern>/api/accounts/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>site.anish_karthik.upi_net_banking.server.controller.api.transfers.TransferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/api/transfers/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BankServlet</servlet-name>
        <servlet-class>site.anish_karthik.upi_net_banking.server.controller.api.banks.BankServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BankServlet</servlet-name>
        <url-pattern>/api/bank/*</url-pattern>
    </servlet-mapping>


</web-app>